<section class="intro">
            <p>
                We are happy to have you on our App!
            </p>

            <div class="kindofuser">
              <input type="radio" id="html" name="accounttype" [(ngModel)]="type" [value]="1" checked>
              <label for="html">User</label><br>
              <input type="radio" id="css" name="accounttype" [(ngModel)]="type" [value]="0">
              <label for="css">Professionals</label><br>
            </div>
</section>




<section class="form-registration" *ngIf="type == 1" > 
<form class="myRegistration" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-floating">
        <input type="text" 
        class="form-control" 
        pattern="[a-zA-z]"
        id="userName" 
        placeholder="name@example.com" 
        required name="userName" 
        [ngModel]="userName" 
        #xName="ngModel">
        <label for="floatingInput">Name</label> 
      </div>
 

    <div class="form-floating">
        <input type="email" 
        class="form-control" 
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        id="userEmail" 
        placeholder="name@example.com" 
        required name="userEmail" 
        [ngModel]="userEmail" 
        #xEmail="ngModel">
        <label for="floatingInput">Email address</label>
        <div class="help-block alert alert-danger" *ngIf="!xEmail.valid && xEmail.touched">Input a Valid Email Address</div>  
      </div>

      <div class="form-floating">
        <input type="text" 
        class="form-control" 
        id="userAddress" 
        placeholder="Address" 
        required name="userAddress" 
        [ngModel]="userAddress" 
        #xAddress="ngModel">
        <label for="floatingInput">Address</label>
      </div>


      <div class="form-floating">
        <input type="text" 
        class="form-control" 
        id="userPhone" 
        placeholder="Phone Number" 
        required name="userPhone" 
        [ngModel]="userPhone" 
        #xPhone="ngModel">
        <label for="floatingInput">Phone Number</label>
      </div>
    
        <div class="form-floating">
        <input type="password" 
        placeholder="Password"
        class="form-control" 
        id="userPassword" 
        name="userPassword" 
        [ngModel]="userPassword" 
        #xPassword="ngModel"
        required >
        <label for="floatingInput">Password</label>
        </div>


        
        
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
</form>

</section>






<section class="form-registration" *ngIf="type == 0">

  <form class="myRegistration" (ngSubmit)="onSubmitProf(f)" #f="ngForm">
    <div class="form-floating">
        <input type="text" 
        class="form-control" 
        pattern="[a-zA-z]"
        id="profName" 
        placeholder="name@example.com" 
        required name="profName" 
        [ngModel]="profName" 
        #xName="ngModel">
        <label for="floatingInput">Name</label> 
      </div>
 

    <div class="form-floating">
        <input type="email" 
        class="form-control" 
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        id="profEmail" 
        placeholder="name@example.com" 
        required name="profEmail" 
        [ngModel]="profEmail" 
        #xEmailProf="ngModel">
        <label for="floatingInput">Email address</label>
        <div class="help-block alert alert-danger" *ngIf="!xEmailProf.valid && xEmailProf.touched">Input a Valid Email Address</div>  
      </div>

    
      <div class="form-floating">
        <input type="text" 
        class="form-control" 
        id="profPhone" 
        placeholder="Phone Number" 
        required name="profPhone" 
        [ngModel]="profPhone" 
        #xProfPhone="ngModel">
        <label for="floatingInput">Phone Number</label>
      </div>

      <div class="form-floating">
        <input type="text" 
        class="form-control" 
        id="profProfession" 
        placeholder="Profession" 
        required name="profProfession" 
        [ngModel]="profProfession" 
        #xprofProfession="ngModel">
        <label for="floatingInput">Profession</label>
      </div>
    

        
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
</form>
</section>