<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row pad-all">
     
       
     

      </div>
    </div>
    <div class="panel-body">
      <div class="pad-left-right">
        <div class="row">

          
          <span class="label-value"></span>
       

      <div *ngFor='let items of myprofs.professional'>
                Name: {{items.name}}
                <br>
                Profession: {{items.profession}}
                <br>
                Email: {{items.email}}
                <br>
                Phone: {{items.phone}}
             </div>
          
          <span class="label-value"> Schedule: {{myprofs.appDate}}</span>
          <span class="label-value">Time: {{myprofs.appTime}}</span>

      
        
        </div>
        <div class="row">
            <input type="button" value="Edit Appointment" class="w-100 btn btn-lg btn-primary" (click)="onEdit()">
        </div>

        <div class="row">
            <input type="button" value="Delete Appointment" class="w-100 btn btn-lg btn-danger" (click)="onDelete()">
        </div>
        
        
      </div>
    </div>
  </div>


